
body {
  margin: 0px;
  padding: 0px;
  background: url(/images/kitchen-731351_1920.jpg);
  /* background-size:auto; */
  /* background-repeat: no-repeat no-repeat; */
}
.same {
    color: white;
  /* border: 2px solid white; */
  border-radius: 35px;
  background-color: black;

  margin: 0px;
  display: inline-block;
}
#box3 {
  position: absolute;
  padding: 14px 137px;
  right: 0px;
  top: 0px;

}
#box2 {
  position: absolute;
  left: 414px;
  padding: 0px 7px;
}
.list{
    list-style: none;
}
.list li{
    display: inline-block;
    padding: 5px 30px;
}
#box1{
    padding: 14px 14px;


}
header{
    display: inline-block;
}
img{
  height: 107px;
  width: 114px;
  border: 2px solid green;
  background-color: rgb(212, 16, 16)107, 100, 100);
}
#input{
  position: absolute;
  left: 16px;
  top: 2px;
}
#button{
  position: absolute;
  right: 17px;
  top: 2px;
}
.container{

  border: 2px solid red;
  position: absolute;
  top: 150px;
  right: 0px;
  padding: 160px 26px;
}



.containerlast{
 display: flex;
 /* border: 2px solid yellow; */
 height: 400px;
 width: 1360px;
 margin: 32px 0px;
 flex-flow: column;
 align-items: flex-end;
}
.item input{
 padding: 5px 34px;
 margin: 7px 35px;
 text-align: center;
 border: 2px solid black;
 border-radius: 8px;
}
.containerlast h2{
 color: #e76938;
 padding: 0px 55px;
 text-decoration: underline;
}
.switch{
 margin: 16px 105px;
 padding: 4px 22px;
 border: 2px solid black;
 border-radius: 10px;
 background-color: rgb(214, 205, 205);
 cursor: pointer;

}
.switch:hover{
background-color: burlywood;

}
.p{
color: #b6b93a;
display: flex;
width: 500px;
height:320px;
position: absolute;
bottom: 40px;
}
.link{
text-decoration: none;
color: grey;
}
.link:hover{
color: rgb(212, 122, 122);
}
.lastlastcontainer{
border: 2px solid black;
border-radius: 8px;
background-color: black;
margin: 20px 0px;
}